<script type="text/javascript" src="{theme:javascript/Calendar4.js}"></script>

<div class="headbar">
	<div class="position"><span>Mastercode</span><span>></span><span>department type</span><span>></span><span>{if:isset($id)}Edit department type{else:}Add New department type{/if}</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/mastercode/department_type_edit_act}" method="post">
			<table class="form_table" cellpadding="0" cellspacing="0">
				<col width="150px" />
				<col />
				<tr>
					<th>Department type Name ：</th>
					<td>
					<p>
						<input class="normal" name="name_en" type="text" value="{$name_en}" pattern="required" alt="Name can not be empty" />*English
					</p>
						<input name="id" value="{$id}" type="hidden" />
				
					<p style='margin-top:10px;'>
						<input class="normal" name="name_ch" type="text" value="{$name_ch}" pattern="required" alt="名称不能为空" />*Chinese
					</p>
					</td>
				</tr>
				<tr>
					<th>Order ：</th>
					<td >
					<p style='margin-top:15px;'>
						<input class="normal" name="order" type="text" value="{$order}" pattern="required" alt="Order can not be empty" />
					</p>
					</td>
				</tr>
				<tr>
					<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>