<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>表格3</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	 <link href="table4.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="nxf_main">
    <div class="nxf_header1">
		<table style="border-collapse:collapse">
			     <tr>
				    <td style="width:200px;">DIAGNOSIS诊断</td>
					<td style="width:80px;">STRT</td>
					<td style="width:80px;">DATE日期</td>
					<td>AGE年龄</td>
					<td>HT身高</td>
					<td>WT体重</td>
					<td>PAGE页码/</td>
				</tr>
				<tr>
				    <td style="width:200px;">PROCEDURE操作</td>
					<td style="width:80px;">起始</td>
					<td>TIME时间</td>
					<td>GRAVIDA孕次</td>
					<td>Para产次</td>
					<td>Gest Age胎龄（周）</td>
					<td>ASA PA体检分级：1 2 3 4 5 6 E</td>
				</tr>
				 <tr>
				    <td style="width:200px;">OBSTESTRICIAN产科医师</td>
					<td style="width:80px;">END</td>
					<td>DATE日期</td>
					<td>HISTORY病史</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:200px;">ANESTHESIOLOGIST麻醉主治医师</td>
					<td style="width:80px;">结束</td>
					<td>TIME时间</td>
					<td>MEDICATIONS用药</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:200px">TRAINEE住院医师</td>
					<td style="width:80px">LDR</td>
					<td>产房#</td>
					<td>Allergies过敏/副反应</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		</table>
	</div>	
	 <div class="nxf_header2">
	    <table style="border-collapse:collapse">
			     <tr>
				    <td style="width:150px;"><input type="checkbox" value="">EQUIP/DIUGS CHECKED检查药物/器械<br>
					<input type="checkbox" value="">SPECIAL ACCESS特殊通道<br>
					ALINE动脉#____LOC部位____<br>
					CLINE中心静脉#_____LOC部位_____<br>
					PACATH肺动脉导管#______LOC部位______</td>
					<td>ANESTHETIC TECHNIQUE麻醉操作<br>
					<input type="checkbox" value="">EPIDURAL硬膜外    PREP皮肤准备________    Position体位_______<br>
					<input type="checkbox" value="">SPINAL腰麻    Epidural Needle硬膜外针#_______<input type="checkbox" value="">L-O-R阻力消失<br>
					<input type="checkbox" value="">CSE腰硬联合      Spinal Needle腰麻针#_______<input type="checkbox" value="">CSF脑脊液<br>
					<input type="checkbox" value="">+PCEA病人自控镇痛        Site部位#1____2____3_____CathinStace腔内留管________cm，AtSkin皮肤______cm<br>
					<input type="checkbox" value="">+AMBULATORY行走      Test Dose via Cath硬膜外置管试验：<input type="checkbox" value="">Neg阴性<input type="checkbox" value="">Pos阳性<br></td>
					<td>EVENTS(if any）事件<br>
					<input type="checkbox" value="">+CSFw/脑脊液（由）       <input type="checkbox" value="">epid needle硬膜外针         <input type="checkbox" value="">epid cath硬膜外导管<br>
					<input type="checkbox" value="">+Blood w/血液（由）       <input type="checkbox" value="">spinal needle腰穿针           <input type="checkbox" value="">epid needle硬膜外针        <input type="checkbox" value="">epid cath硬膜外导管<br>
					<input type="checkbox" value="">+Parashesis w/触电感（由）           <input type="checkbox" value="">spinal needle腰穿针            <input type="checkbox" value="">epid needle硬膜外针        <input type="checkbox" value="">epid cath硬膜外导管<br>
					<input type="checkbox" value="">Lefe左       <input type="checkbox" value="">Right右         <input type="checkbox" value="">Lransient-过性<br></td>
				</tr>
		</table>
    </div>
	<div class="nxf_header3">
	    <table style="border-collapse:collapse">
			     <tr>
				    <td style="width:80px;">Rte途径</td>
					<td style="width:100px;">Drugs药物</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" >Total总量</td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;">Oxygen氧气</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td rowspan="11"> Drugs 药物</td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;">Bupivacaiane布比卡因  %</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;">Ropivacaine罗哌卡因  %</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;">Lidocaine利多卡因  %</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;">E硬膜外</td>
					<td style="width:100px;">Lidocaine1.5%+epi试验剂</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;">Fentanyl芬太尼  （mcg）</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;"></td>
					<td style="width:100px;"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;">IV静脉</td>
					<td style="width:100px;">Ephedrine麻黄素  （mg）</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;">IV静脉</td>
					<td style="width:100px;">Phenyephrine正肾  （mcg）</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td style="width:80px;">E硬膜外</td>
					<td style="width:100px;">Bupivacaine0.06%+Fentanyl 2mcglcc</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
	    </table>
	</div>
	&nbsp;
	<div class="nxf_header4">
	    <table style="border-collapse:collapse">
			     <tr>
				     <td rowspan="5" style="width:80px;">Fluids 液体</td>
					 <td style="width:200px;"></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td rowspan="5">Fluids 液体</td>
			    </tr>
				<tr>
					 <td style="width:200px;"></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
			    </tr>
				<tr>
					 <td style="width:200px;">Blood输血</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
			    </tr>
				<tr>
					 <td style="width:200px;">BloodLoss出血量</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
			    </tr>
				<tr>
					 <td style="width:200px;">Unine O/P尿量</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					<td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					<td></td>
					 <td></td>
					 <td></td>
			    </tr>
		</table>
	</div>
	<div class="nxf_header5">
	    <table style="border-collapse:collapse">
			     <tr>
				     <td colspan="2" style="width:280px;">PAIN SCORE疼痛分值（0-10）</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
				     <td rowspan="2" style="width:90px;height:80px;">SENSORY LVL感觉平面</td>
					 <td style="width:140px;">left左</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td style="width:140px;">right右</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
				     <td rowspan="2" style="width:140px;height:80px;">OB产科</td>
					 <td style="width:140px;">Dilation宫口</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td style="width:140px;">Station</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td colspan="2" style="width:280px;">TEMPERATURE体温</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td rowspan="3" style="width:140px;height:120px;">CV/Resp心肺监护</td>
					 <td style="width:140px;">ECG心电图</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td style="width:140px;">SPO2血氧饱和度</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td style="width:140px;"></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td colspan="2" style="width:280px;">RESIDENT PRESENT住院医师到场</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				 <tr>
					 <td colspan="2" style="width:280px;">RTTENDING PRESENT主治/任医师到场</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
				
		</table>
	</div>	
    <div class="nxf_header6">
	    <table style="border-collapse:collapse">
				<tr>
					 <td colspan="2" style="width:180px;">TIME时间</td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					<td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
					 <td colspan="3"></td>
				</tr>
			     <tr>
                     <td rowspan="21" style="width:116px;">LEGEND符号：</td>
					 <td style="width:80px;">200</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td rowspan="2" style="width:100px;">180</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">160</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">140</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">120</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">100</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">80</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">60</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">40</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
                     <td rowspan="2" style="width:100px;">20</td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td style="width:100px;"></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>	
				</tr>	 
				<tr>
					 <td style="width:100px;"></td>
					<td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
                     <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
					 <td></td>
				</tr>
        </table>
    </div>
</div>
</body>
</html>	