<script type='text/javascript'>
function render_data(selector)
{
	var temp =selector.options[selector.options.selectedIndex].value;
	//清除原有的数据
	$('#list_table>tbody').remove();
	//Ajax获取填充的数据
	var html="";
	var i=0;
	$.ajax({
		type: "POST",
		url : "{url:/obstetrical/obstetrical_list_data}",
		data: "id="+temp,
		dataType: "json",
		success: function(data){
			if(data)
			{
				//循环写出表格
				for(i=0;i< data.length;i++)
				{
					html +="<tr>"+
					"<td><input type='checkbox' name='id[]' value="+data[i].id+" /></td>"+
					"<td>"+data[i].name+"</td>"+
					"<td>"+data[i].hospital+"</td>"+
					"<td>"+data[i].date+"</td>"+
					"<td>"+
					 "<a href='{url:/obstetrical/obstetrical_basic_edit/id/}"+data[i].id+"'><img class=\"operator\" src=\"{skin:images/admin/icon_edit.gif}\" alt=\"编辑\" title=\"编辑\" /></a>"+
					 "<a href='javascript:void(0)' onclick=\"delModel({link:'{url:/obstetrical/obstetrical_basic_del/id/}"+data[i].id+"',msg:'是否删除？'});\""+"><img class='operator' src='{skin:images/admin/icon_del.gif}' alt='删除' title='删除' /></a>"+
					"</td></tr>" ;
					
				}
				$('#list_table').append(html);
			}
			else
			{
				alert('数据为空');
			}
				
		}
	});
	
}


window.onload = selector_all_ajax;

function selector_all_ajax()
{
	$('#selector_all').get(0).selectedIndex = 1;
	var temp =$('#selector_all').val();
	//清除原有的数据
	$('#list_table>tbody').remove();
	//Ajax获取填充的数据
	var html="";
	var i=0;
	$.ajax({
		type: "POST",
		url : "{url:/obstetrical/obstetrical_list_data}",
		data: "id="+temp,
		dataType: "json",
		success: function(data){
			if(data)
			{
				//循环写出表格
				for(i=0;i< data.length;i++)
				{
					html +="<tr>"+
					"<td><input type='checkbox' name='id[]' value="+data[i].id+" /></td>"+
					"<td>"+data[i].name+"</td>"+
					"<td>"+data[i].hospital+"</td>"+
					"<td>"+data[i].date+"</td>"+
					"<td>"+
					 "<a href='{url:/obstetrical/obstetrical_basic_edit/id/}"+data[i].id+"'><img class=\"operator\" src=\"{skin:images/admin/icon_edit.gif}\" alt=\"编辑\" title=\"编辑\" /></a>"+
					 "<a href='javascript:void(0)' onclick=\"delModel({link:'{url:/obstetrical/obstetrical_basic_del/id/}"+data[i].id+"',msg:'是否删除？'});\""+"><img class='operator' src='{skin:images/admin/icon_del.gif}' alt='删除' title='删除' /></a>"+
					"</td></tr>" ;
					
				}
				$('#list_table').append(html);
			}
			else
			{
				alert('数据为空');
			}
				
		}
	});
	
}
</script>

<div class="headbar">
	<div class="position"><span>Obstetrical</span><span>></span><span>Basic Info</span><span>></span><span>list</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/obstetrical/obstetrical_basic_edit}')"><button class="operating_btn" type="button"><span class="addition">Add New Obstetrical</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">Choose All</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">Delete All</span></button></a>
		<a>
		Hospital:
		<select width='50px' onchange="render_data(this);" id ='selector_all'>
			<option value='-1'>*Please choose one</option>
			{if:$this->role_hospital_id == 0}
				<option value='0'>All</option>		
			{/if}
			{foreach:items=$this->role_hospital_data}
				<option value='{$item['id']}' >{$item['hospital_name_en']}</option>
			{/foreach}
			
		</select>
		</a>
	</div>
	<div class="field">
		<table class="list_table" id ='list_table'>
			<col width="50px" />
			<col width="250px" />
			<col width="250px" />
			<col width="250px" />
			<col width="100px" />
			<col />
			<thead>
				<tr>
					<th>Choose</th>
					<th>Obstetrical Name</th>
					<th>Hospital</th>
					<th>Date</th>
					<th>Operate</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div class="content">
	<form name='admin_list' method='post' action='{url:/hospital/admin_del}'>
		<table id="list_table" class="list_table">
			<col width="50px" />
			<col width="250px" />
			<col width="250px" />
			<col width="250px" />
			<col width="100px" />
			<col />
			<tbody>
			</tbody>
		</table>
	</form>
</div>