<link rel="stylesheet" href="{skin:css/xf-table.css}" />
<script type="text/javascript" src="{theme:javascript/Calendar4.js}"></script> 
<script language="JavaScript" type="text/javascript">
//surgery_illness_edit
function surgery_illness_edit()
{
	art.dialog.load('{url:/modify/surgery_illness_edit/id/$id}', {
		id:'add_Illness',
		lock: true,
	    title: 'Illness',
	    width: '1000px'
	}, true);
}
function surgery_system_review()
{
	art.dialog.load('{url:/modify/surgery_system_review/id/$id}', {
		id:'add_Illness',
		lock: true,
	    title: 'Illness',
	    width: '1000px'
	}, true);
}
//surgery_hx_all()
function surgery_hx_all()
{
	art.dialog.load('{url:/modify/surgery_hx_all/id/$id}', {
		id:'add_Illness',
		lock: true,
	    title: 'Illness',
	    width: '1000px'
	}, true);
}
//surgery_plan()
function surgery_plan_all()
{
	art.dialog.load('{url:/modify/surgery_plan_all/id/$id}', {
		id:'add_Illness',
		lock: true,
	    title: 'Illness',
	    width: '1000px'
	}, true);
}
</script>

<div class="headbar">
	<div class="position"><span>Obstetrical</span><span>></span><span>Surgery Record</span><span>></span><span>edit</span></div>
</div>
<div class="content1"  >
	<table>
		<tr>
			<td>Name:{$name}&nbsp;&nbsp;&nbsp;</td>
			<td>Hospital:{$hospital}&nbsp;&nbsp;&nbsp;</td>
			<td>Date:{$date}&nbsp;&nbsp;&nbsp;</td>
		</tr>
	</table>
	
	<div class="xf-main">
		<table style="border-collapse:collapse" onclick='surgery_illness_edit();'>
			<tr><td colspan="2"><p>Hx of Present Pregnancy and Illness</p><br>
								<p>G孕 <a style='color:red'>{$gracida}</a>产 <a style='color:red'>{$living}</a>Gestational Week(days)孕期 <a style='color:red'>{$ega_by_us}</a></p>
								<p>HTN高血压；Edemas水肿：+，++，+++：Headache头痛：Blur Vision视物模糊；</p>
								<p>Hyperglycemia高血糖：Abdominal Pain腹痛：Vaginal Bleeding阴道出血
								 <a style='color:red'>{$pregnacy_description}</a></p>
				</td>
				<td rowspan="3" ><p>Current Nedications现用药物
				 <a style='color:red'>{$current_medication}</a></p></td></tr>
			</tr>
			<tr><td>Previous Anesthesia&Surgeries麻醉/手术史 
			<a style='color:red'>{$pre_anesthesia}</a></td>
				<td rowspan="2">Allergies/Intolerances药物过敏/副反应史
				<a style='color:red'>{$allergies}</a></td>
			</tr>
			<tr><td>Family Hx of Anesthesia/Medical/Surgical Cx麻醉/内科/外科并发症
			<a style='color:red'>{$medical_surgical_hx}</a></td>
			
	</table>
	<table style="border-collapse:collapse" onclick='surgery_system_review();'>
		<tr>
			<td>SYSTEN REVIEW系统回顾/Normal正常or COMMENTS详细描述（Space on the back）
			</td><td>LABOIATORY实验室检查</td>
		</tr>
		<tr>
			<td>Normal正常CARDIOVASCULAR心血管：HTN高血压，CAD/MI冠心，Valvular Dz瓣膜病，CHF心衰，Arrhythmia心律失常，PVD周围心管病，CVA/ITA中
			<a style='color:red'>{$review_cardovascular}</a></td>	
			<td>EKG心电图，Echo（心超）CXR胸片，ABG血气分析
			<a style='color:red'>{$review_laboratory}</a></td>	
		</tr>
		<tr>
			<td>Normal正常RESPIRATORY呼吸道：Asthma哮喘，COPD慢阻肺，Snoring/OSA睡眠呼暂停，Recent URI/Pneumonia新近上呼吸道感染/肺炎
			<a style='color:red'>{$review_respiratory}</a></td>	
			<td rowspan="2" >Liver Function Test肝功能
			<a style='color:red'>{$review_liver}</a></td>
		</tr>
		<tr><td>Normal正常GI/HEPATIC消化道：Liver Dz肝病/Heptitis肝炎，Hiatal Hernia食道裂孔疝，GERD胃食管反流
		<a style='color:red'>{$review_gi_hepatic}</a></td></tr>
		<tr>
			<td>Normal正常RENAL/ENDOCRINE肾脏/内分泌：DM糖尿病，Steroid糖皮质醇，Thyroid Dz甲状腺病，Renal Failure肾衰
			<a style='color:red'>{$review_renal}</a></td>
			<td rowspan="2">CHEMISTRIES生化
			<a style='color:red'>{$review_chmistries}</a></td>
		</tr>
		<tr><td>Normal正常NEURO/MUSCULOSKELETAL神经/肌肉骨骼：Seizures癫痫，Paralysis瘫痪，Arthritis关节炎：Neck颈，Scoliosis（脊椎畸形），LBP(腰痛)
		<a style='color:red'>{$review_newuro}</a></td></tr>
		<tr><td>Normal正常HEMOTOLOGY血液病：Bleeding Dz出血病，Anemia贫血，Transfusion输血<a style='color:red'>{$review_hemotology}</a></td><td>LMP末次月经
		<a style='color:red'>{$lmp}</a></td></tr>
	</table>
	<table style="border-collapse:collapse" onclick="surgery_hx_all();">
		<tr>
			<td>Smoking Hx吸烟史
			<a style='color:red'>{$hx_smocking}</a></td>
			<td>Alcohol Use饮酒史
			<a style='color:red'>{$hx_alcohol_use}</a></td>
			<td>Substance Use吸毒史
			<a style='color:red'>{$hx_substance_use}</a></td>
			<td>Social Situation社会情况：
			<a style='color:red'>{$hx_social_situation}</a></td>
		</tr>
		<tr><td rowspan="4">
			<p>AIRWAY气道</p>
			 <p>TMT Opening 下颌开启
			<a style='color:red'>{$airway_tnj}</a></p>
			 <p>Neck Movement颈活动度</p>
			 <p><a style='color:red'>{$airway_neck_full_rom}</a></P>
			 <P>H-M Distance舌颌距离
				<a style='color:red'>{$airway_hm_distance}</a></p>
			 <p>Mallampati Class
				<a style='color:red'>{$airway_dental}</a></p>
			 <p>Dental牙齿：<br>
			 Chipped缺损，Missing缺失，<br>Loose松动，Capped假牙，<br>Bonded矫正牙，Bridge桥，<br>Carious蛀牙
			 </p>
			 <p>AirwayPath病理气道：
			 <a style='color:red'>{$airway_path}</a></p>
		</td>
		</tr>
		<td colspan="3" >PHYSICAL EXAMINATION体检（Space on the back）</td>
		<tr><td colspan="2">HEART 心脏
		<a style='color:red'>{$physical_examination_heart}</a></td><td>LUNGS 肺
		<a style='color:red'>{$physical_examination_lungs}</a></td></tr>
		<tr><td  colspan="2">OBSTETRICAL EXAN(产科检查)：
		
		<!--  -->
			<p>Uterus:
					{if:$uterus == 1}<a style='color:red'>√</a>{else:}□{/if}Soft软
					{if:$uterus == 2}<a style='color:red'>√</a>{else:}□{/if}NonTender不硬
					{if:$uterus == 3}<a style='color:red'>√</a>{else:}□{/if}Tender硬
					{if:$uterus == 4}<a style='color:red'>√</a>{else:}□{/if}Ridge极硬
					</p>
					<p>(子宫)contraction宫缩q: <a style='color:red'>{$contraction}</a>&nbsp;&nbsp;Date/Time时间:<a style='color:red'>{$contruction_date}</a></p>
					<p>FetalNovement:
					{if:$fetal_movement == 1}<a style='color:red'>√</a>{else:}□{/if}Present有
					{if:$fetal_movement == 2}<a style='color:red'>√</a>{else:}□{/if}Absent无
					{if:$fetal_movement == 3}<a style='color:red'>√</a>{else:}□{/if}Decreased减少
					</p>
					<p>(胎动)Last move:Date/Time末次时间:<a style='color:red'>{$fetal_date}</a></p>
					<p>R/O PTL排除早产：</p>
					<p>Recent Intercourse Time末次性交时间:<a style='color:red'>{$recent_intercourse}</a></p>
					<p>S/P Fall/MVA point of Impact摔倒、车祸涉及部位：<a style='color:red'>{$s_p}</a></p>
				</td>
		
		
		<!--  -->
		</td>
			<td>BP  
			<a style='color:red'>{$physical_examination_bp}</a>mmHg<br>HR  
			<a style='color:red'>{$physical_examination_hr}</a>B/m <br>RR  
			<a style='color:red'>{$physical_examination_rr}</a>T/m <br> SaO2 
			<a style='color:red'>{$physical_examination_sao2}</a> % <br> T  
			<a style='color:red'>{$physical_examination_t}</a>oC <br> Ht身高
			<a style='color:red'>{$physical_examination_ht}</a> <br>Wt体重
			<a style='color:red'>{$physical_examination_wt}</a></td>
		</tr>
			<tr>
				<td colspan="4">OBTESTRICAL DX(产科诊断)：
				<a style='color:red'>{$Obtestrical_dx}</a><br>
						 ASA Physical Status麻醉科指征：
						 {if:$asa_physical_statues == 1}<a style='color:red'>√</a>{/if}I 
						 {if:$asa_physical_statues == 2}<a style='color:red'>√</a>{/if}II 
						 {if:$asa_physical_statues == 3}<a style='color:red'>√</a>{/if}III 
						 {if:$asa_physical_statues == 4}<a style='color:red'>√</a>{/if}E<br>
						 FASTING STATUS禁食：Last Solid固体@
						 <a style='color:red'>{$fasting_status_last_solid}</a><br>
						 Last Liquid液体@
						<a style='color:red'>{$fasting_status_last_liquid}</a>
				</td>
			</tr>		
	</table>	
		
			<table style="border-collapse:collapse" onclick='surgery_plan_all();'>
				       <tr>
					       <td>ANESTHETIC PLAN麻醉计划
					       <br>
						   CSE腰硬联合，Epidural硬膜外，Spinal腰麻，GAET全麻插管，Others其他；
						   <a style='color:red'>{$anesthetic_plan}</a></td>
						   <td>OBSTETRICAL PLAN产科计划<br>
						   Vaginal(阴道)   C-section（破宫产）   Others其他：
						   <a style='color:red'>{$obstetrical_plan}</a></td>
						   <td>Obstetrian产科医生：<a style='color:red'>{$obsterian}</a><br>
						   Anesthesiologist麻醉医生：<a style='color:red'>{$anesthesiologist}</a></td>
						   <td>Date日期：<a style='color:red'>{$sign_date}</a><br>
						   Time时间：<a style='color:red'>{$sign_time}</a></td>
						</tr>
		     </table>
		
	</div>
</div>
